*{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.top{
    color: #9f655f;
    background-color: #f4b169;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.toptop{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 100px;
}
.big{
    font-size: 52px;
}
.white{
    height: 700px;
}
.bottom{
    color: #9f655f;
    background-color: #f4b169;
    display: flex;
    height: 1100px;
    flex-direction: row;
    align-items: center;
    gap: 200px;
    justify-content: center;
}
.upbottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 40px;
}
footer{
    display: flex;
    background-color: #2C2C2C;
    color: #989898;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 300px;
}
.soc{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.socseti{
    display: flex;
    height: 100px;
}